html body {
  background-color: #1a1a1f;
  color: white;
  font-family: "Open Sans", sans-serif;
}

body.light-mode {
  background-color: #eaeaea;
  color: black;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1a1f;
  color: white;
  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

.ant-card-bordered {
  border: 0px !important;
}

.ant-card-header {
  border: 10px !important;
}

body.dark-mode .navbar {
  background-image: linear-gradient(315deg, black 0%, black 74%);
}

body.light-mode .navbar {
  background-image: linear-gradient(315deg, white 0%, white 74%);
  color: black !important;
}

body.light-mode .nav-link {
  color: white !important;
}

body.light-mode .nav-link {
  color: #777777 !important;
}

body.light-mode .active > .nav-link {
  color: black !important;
}

body.light-mode .sidenav {
  background-image: linear-gradient(315deg, white 0%, white 74%) !important;
}

body.light-mode .sidenav---sidenav-nav---3tvij {
  background-image: linear-gradient(315deg, white 0%, white 74%) !important;
}

body.light-mode .sidenav---icon-bar---u1f02 {
  background-color: black !important;
}

body.light-mode svg {
  fill: black;
}

body.light-mode .sidenav---navtext---1AE_f {
  color: black !important;
}

body.light-mode .navbar-toggler-icon {
  background-color: white !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

body.dark-mode .navbar-dark .navbar-toggler {
  color: black;
  border-color: black;
}

body.light-mode .navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

body.dark-mode .header {
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
}

body.dark-mode .ticker-title {
  color: white;
}

body.light-mode .main-svg {
  background: white;
}

.sidenav {
  margin-top: 60px;
  width: 1px;
}

svg {
  color: white;
}

body.light-mode .header {
  margin-top: 100px;
  margin-bottom: 50px;
  color: black;
}

body.light-mode
  .sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f
  > * {
  color: black !important;
}

body.dark-mode .ant-card {
  background-color: black;
}

body.light-mode .ant-card {
  background-color: white;
}

body.dark-mode .ant-card-head-title {
  color: white;
}

body.light-mode .ant-card-head-title {
  color: black;
}

body.dark-mode .ant-card-body {
  color: white;
  overflow-x: hidden;
}

body.light-mode .ant-card-body {
  color: black;
  overflow-x: hidden;
}

body.dark-mode .ant-modal-body {
  background-color: #1a1a1f;
}

body.dark-mode .ant-modal-header {
  background: #1a1a1f !important;
}

body.dark-mode .ant-modal-title {
  color: white !important;
}

body.dark-mode .ant-modal-footer {
  background: #1a1a1f !important;
}

body.light-mode .ant-modal-body {
  background-color: #eaeaea;
}

body.light-mode .ant-modal-header {
  background: #eaeaea !important;
}

body.light-mode .ant-modal-title {
  color: black !important;
}

body.light-mode .ant-modal-footer {
  background: #eaeaea !important;
}

body.dark-mode .undo-button-container {
  width: 200px;
  position: fixed;
  bottom: 1%;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
}

body.dark-mode .undo-button {
  background-color: white !important;
  color: #007bff !important;
  font-size: 20px !important;
  border-color: white !important;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.dark-mode .removed-text {
  color: black;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.light-mode .undo-button-container {
  width: 200px;
  position: fixed;
  bottom: 1%;
  z-index: 10;
  background-color: black;
  border-radius: 10px;
}

body.light-mode .undo-button {
  background-color: black !important;
  color: #007bff !important;
  font-size: 20px !important;
  border-color: black !important;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.light-mode .removed-text {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center {
  text-align: center;
}

.side-margin {
  margin-left: 75px;
  margin-right: 15px;
  margin-bottom: 40px;
}

.nav-link {
  font-size: 16px;
}

.ant-modal {
  width: 85% !important;
}

.ant-modal-header {
  border-radius: 0px !important;
}

.ant-modal-footer {
  border-radius: 0px !important;
}

.add-card-container {
  margin-top: 50px;
}

.justify-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ticker-information {
  padding-left: 20px;
  padding-bottom: 20px;
}

.ant-card-head:hover {
  cursor: grab;
}

.modal-card .ant-card-head:hover{
  cursor: default;
}

.ticker-header .ant-card-head:hover{
  cursor: default;
}

.ant-card-head:active {
  cursor: grabbing;
}

.recharts-tooltip-wrapper{
  color: black;
}

.react-autosuggest__input {
  margin-right: 10px;
  height: 35px;
}

.card-hr {
  border-color: grey;
  margin-top: -5px;
}

.dashboards-text{
  display: inline-block;
}

.dashboards-hr{
  border-color: grey;
  margin-top: -18px;
  margin-left: 10px;
  margin-right: 10px;
}

.ant-card-head {
  padding: 20px;
  border-bottom: 0px !important;
  margin-bottom: -20px !important;
}

.anticon:hover {
  cursor: pointer;
}

.modal-header {
  color: black;
}

.modal-card {
  margin-bottom: 5%;
  height: 70%;
}

.add-card-button {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}

.ticker-header {
  margin-bottom: 10px !important;
}

.header-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 100px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 200px;
  height: 35px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 200px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  color: black;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
