html body {
  background-color: #1a1a1f;
  color: white;
  font-family: "Open Sans", sans-serif !important;
}

body.light-mode {
  background-color: #eaeaea;
  color: black;
  transition: background-color 0.3s ease;
}

#simple-autocomplete-1-listbox{
  background: white;
}

.rmd-list-item{
  display: grid;
  grid-template-columns: 0 1fr;
  grid-gap: 1.75em;
  align-items: start;
  font-size: 1.5rem;
  line-height: 1.25;
}

body.dark-mode {
  background-color: #1a1a1f;
  color: white;
  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

.ant-card-bordered {
  border: 0px !important;
}

.ant-card-header {
  border: 10px !important;
}

body.dark-mode .navbar {
  background-image: linear-gradient(315deg, black 0%, black 74%);
  height: 60px;
}

body.light-mode .navbar {
  background-image: linear-gradient(315deg, white 0%, white 74%);
  height: 60px;
  color: black !important;
}

body.light-mode .nav-link {
  color: white !important;
}

body.light-mode .nav-link {
  color: #777777 !important;
}

body.light-mode .active > .nav-link {
  color: black !important;
}

body.light-mode .sidenav {
  background-image: linear-gradient(315deg, white 0%, white 74%) !important;
}

body.light-mode .sidenav---sidenav-nav---3tvij {
  background-image: linear-gradient(315deg, white 0%, white 74%) !important;
}

body.light-mode .sidenav---icon-bar---u1f02 {
  background-color: black !important;
}

body.light-mode svg {
  fill: black;
}

body.light-mode .sidenav---navtext---1AE_f {
  color: black !important;
}

body.light-mode .navbar-toggler-icon {
  background-color: white !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

body.dark-mode .navbar-dark .navbar-toggler {
  color: black;
  border-color: black;
}

body.light-mode .navbar-dark .navbar-toggler {
  color: white;
  border-color: white;
}

body.dark-mode .header {
  margin-top: 100px;
  margin-bottom: 50px;
  color: white;
}

body.dark-mode .ticker-title {
  color: white;
  text-align: center;
}

body.light-mode .main-svg {
  background: white;
}

.sidenav {
  margin-top: 70px;
  width: 1px;
}

svg {
  color: white;
}

body.light-mode .reactour__close svg path{
  fill: black !important;
}

body.light-mode .header {
  margin-top: 100px;
  margin-bottom: 50px;
  color: black;
}

body.light-mode
  .sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f
  > * {
  color: black !important;
}

body.dark-mode .ant-card {
  background-color: black;
}

body.light-mode .ant-card {
  background-color: white;
}

body.dark-mode .ant-card-head-title {
  color: white;
}

body.light-mode .ant-card-head-title {
  color: black;
}

body.dark-mode .ant-card-body {
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.dark-mode .ant-card {
  overflow-y: hidden !important;
}

body.light-mode .ant-card {
  overflow-y: hidden !important;
}

body.light-mode .ant-card-body {
  color: black;
  overflow-x: hidden;
  overflow-y: hidden;
}

body.dark-mode .ant-modal-body {
  background-color: #1a1a1f;
}
.recharts-cartesian-axis-tick-value {
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
}

body.dark-mode .ant-modal-header {
  background: #1a1a1f !important;
}

body.dark-mode .ant-modal-title {
  color: white !important;
}

body.dark-mode .ant-modal-footer {
  background: #1a1a1f !important;
}

body.light-mode .ant-modal-body {
  background-color: #eaeaea;
}

body.light-mode .ant-modal-header {
  background: #eaeaea !important;
}

body.light-mode .ant-modal-title {
  color: black !important;
}

body.light-mode .ant-modal-footer {
  background: #eaeaea !important;
}

body.dark-mode .undo-button-container {
  width: 200px;
  position: fixed;
  bottom: 1%;
  z-index: 10;
  background-color: white;
  border-radius: 10px;
}

body.dark-mode .undo-button {
  background-color: white !important;
  color: #007bff !important;
  font-size: 20px !important;
  border-color: white !important;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.dark-mode .removed-text {
  color: black;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.dark-mode .apexcharts-tooltip-title {
  background-color: black !important;
  color: white !important;
}

body.light-mode .undo-button-container {
  width: 200px;
  position: fixed;
  bottom: 1%;
  z-index: 10;
  background-color: black;
  border-radius: 10px;
}

body.light-mode .undo-button {
  background-color: black !important;
  color: #007bff !important;
  font-size: 20px !important;
  border-color: black !important;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.light-mode .removed-text {
  color: white;
  margin-left: 10px;
  font-size: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

body.dark-mode .apexcharts-menu-open {
  background-color: black;
  border-color: grey;
}

body.dark-mode .apexcharts-tooltip {
  background-color: black;
}

body.dark-mode .recharts-default-tooltip {
  color: white !important;
  background: black !important;
}

body.dark-mode .recharts-tooltip-item-name {
  color: white;
}

body.dark-mode .recharts-tooltip-item-separator {
  color: white;
}

body.dark-mode .recharts-tooltip-item-value {
  color: #007bff;
}

body.light-mode .recharts-default-tooltip {
  color: black !important;
  background: white !important;
}

body.light-mode .recharts-tooltip-item-name {
  color: black;
}

body.light-mode .recharts-tooltip-item-separator {
  color: black;
}

body.light-mode .recharts-tooltip-item-value {
  color: #007bff;
}

body.light-mode .range-button {
  color: black;
  background-color: white;
}

body.dark-mode .range-button {
  color: white;
  background-color: black;
}

body.dark-mode .ant-dropdown-menu-item:hover {
  background-color: grey;
}

body.light-mode .ant-dropdown-menu-item:hover {
  background-color: grey;
}

body.dark-mode .ant-dropdown-menu-light {
  background-color: black;
}

body.dark-mode .dropdown-btn {
  color: white;
}

body.dark-mode .ant-popover-title {
  background-color: black;
  color: white !important;
}

body.dark-mode .ant-popover-inner-content {
  background-color: black !important;
}

body.light-mode .apexcharts-grid {
  fill: white !important;
}

body.dark-mode .react-grid-item > .react-resizable-handle::after{
  border-right: 2px solid white !important;
  border-bottom: 2px solid white !important
}

body.light-mode .react-grid-item > .react-resizable-handle::after{
  border-right: 2px solid black !important;
  border-bottom: 2px solid black !important
}

.save-layout-modal {
  width: 25% !important;
}

.save-layout-input {
  display: inline-block;
}

.center {
  text-align: center;
}

body.dark-mode .error-message {
  text-align: center;
  color: white;
  margin-top: 15px;
}

.side-margin .dashboard {
  margin-left: 75px;
  margin-right: 15px;
  margin-bottom: 40px;
}

.fullyCentered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.nav-link {
  font-size: 16px;
}

.add-card-modal {
  width: 85% !important;
}

.span-margin {
  margin-right: 15px;
}

.blue-button svg {
  fill: #007bff !important;
}

.blue{
  color: #007bff;
}

.ant-modal-header {
  border-radius: 0px !important;
}

.ant-popover {
  width: 500px !important; 
}

body.dark-mode .ant-popover-inner-content{
  color: white !important;
}

.ant-modal-footer {
  border-radius: 0px !important;
}

.add-card-container {
  margin-top: 50px;
}

.gauge-risk {
  padding-top: 10%;
}

body.dark-mode .change-view-button {
  font-size: 15px !important;
  margin-left: 15px !important;
  background-color: black !important;
}

body.light-mode .change-view-button {
  font-size: 15px !important;
  margin-left: 15px !important;
  background-color: white !important;
  color: black !important;
}

.custom-tooltip {
  background-color: black !important;
  border-style: solid !important;
  border-width: 1px !important;
  padding: 10px !important;
}

.justify-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ticker-information {
  padding-left: 20px;
  padding-bottom: 20px;
}

.scrolling-news {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  font-size: 25px;
  height: 50px;
  line-height: 50px;
}

.fusioncharts-datalabels {
  visibility: hidden;
}

.yellow {
  color: yellow;
}

body.dark-mode .news-card-body {
  overflow: scroll;
  scrollbar-color: #152233 #131722;
  overflow-x: hidden;
}

body.light-mode .news-card-body {
  overflow: scroll;
  overflow-x: hidden;
}

.news-hr {
  border-color: grey;
  margin-right: 15px;
}

body.dark-mode .news-header {
  color: white;
}

.ant-card-head:hover {
  cursor: grab;
}

.modal-card .ant-card-head:hover {
  cursor: default;
}

.ticker-header .ant-card-head:hover {
  cursor: default;
}

.ant-card-head:active {
  cursor: grabbing;
}

.react-autosuggest__input {
  margin-right: 10px;
  height: 35px;
}

.card-hr {
  border-color: grey;
  margin-top: -5px;
}

.dashboards-text {
  display: inline-block;
}

body.dark-mode .ticker-dropdown-item{
 color: white !important;
 height: 30px;
 padding-left: 15px;
 font-size: large;
 padding-left: 15px;
}

body.light-mode .ticker-dropdown-item{
  color: rgb(0, 0, 0) !important;
  height: 30px;
  padding-left: 15px;
  font-size: large;
  padding-left: 15px;
 }

.dashboards-hr {
  border-color: grey;
  margin-top: -18px;
  margin-left: 10px;
  margin-right: 10px;
}

.ant-card-head {
  border-bottom: 0px !important;
  margin-bottom: -20px !important;
}

.anticon:hover {
  cursor: pointer;
}

.modal-header {
  color: black;
}

.modal-card {
  margin-bottom: 5%;
  height: 70%;
}

.add-card-button {
  margin-top: 20px;
  width: 50%;
  margin-left: 25%;
}

.ticker-header {
  margin-bottom: 10px !important;
}

.lets-begin-link{
  color: #007bff;
}

body.dark-mode .verticalSpan {
  border-right: 1px solid white;
  margin-left: 25px;
  margin-right: 5px;
}

body.dark-mode .verticalSpan2 {
  border-right: 1px solid white;
  margin-left: 10px;
  margin-right: 15px;
}

body.dark-mode .verticalSpan3 {
  border-right: 1px solid white;
  margin-left: 15px;
  margin-right: 15px;
}

body.light-mode .verticalSpan {
  border-right: 1px solid black;
  margin-left: 25px;
  margin-right: 5px;
}

body.light-mode .verticalSpan2 {
  border-right: 1px solid black;
  margin-left: 10px;
  margin-right: 15px;
}

body.light-mode .verticalSpan3 {
  border-right: 1px solid black;
  margin-left: 15px;
  margin-right: 15px;
}

.header-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 100px;
}

#SvgjsG4812 {
  display: none;
}

#SvgjsG8854 {
  display: none;
}

.black{
  color: black !important;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 200px;
  height: 35px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 200px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  color: black;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.moon {
  background: linear-gradient(
    90deg,
    rgba(208, 208, 208, 1) 48%,
    rgba(145, 145, 145, 1) 100%
  );
  position: absolute;
  top: -100px;
  left: -300px;
  width: 900px;
  height: 900px;
  content: "";
  border-radius: 100%;
  box-shadow: 0px 0px 30px -4px rgba(0, 0, 0, 0.5);
}

.moon__crater {
  position: absolute;
  content: "";
  border-radius: 100%;
  background: linear-gradient(
    90deg,
    rgba(122, 122, 122, 1) 38%,
    rgba(195, 195, 195, 1) 100%
  );
  opacity: 0.6;
}

.moon__crater1 {
  top: 250px;
  left: 500px;
  width: 60px;
  height: 180px;
}

.moon__crater2 {
  top: 650px;
  left: 340px;
  width: 40px;
  height: 80px;
  transform: rotate(55deg);
}

.moon__crater3 {
  top: -20px;
  left: 40px;
  width: 65px;
  height: 120px;
  transform: rotate(250deg);
}

.star {
  background: grey;
  position: absolute;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 100%;
  transform: rotate(250deg);
  opacity: 0.4;
  animation-name: shimmer;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes shimmer {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.star1 {
  top: 40%;
  left: 50%;
  animation-delay: 1s;
}

.star2 {
  top: 60%;
  left: 90%;
  animation-delay: 3s;
}

.star3 {
  top: 10%;
  left: 70%;
  animation-delay: 2s;
}

.star4 {
  top: 90%;
  left: 40%;
}

.star5 {
  top: 20%;
  left: 30%;
  animation-delay: 0.5s;
}

.error {
  position: absolute;
  left: 100px;
  top: 400px;
  transform: translateY(-60%);
  font-family: "Righteous", cursive;
  color: #363e49;
}

.error__title {
  font-size: 10em;
}

.error__subtitle {
  font-size: 2em;
}

.error__description {
  opacity: 0.5;
}

.error__button {
  min-width: 7em;
  margin-top: 3em;
  margin-right: 0.5em;
  padding: 0.5em 2em;
  outline: none;
  border: 2px solid #2f3640;
  background-color: transparent;
  border-radius: 8em;
  color: #576375;
  cursor: pointer;
  transition-duration: 0.2s;
  font-size: 0.75em;
  font-family: "Righteous", cursive;
}

.error__button:hover {
  color: #21252c;
}

.error__button--active {
  background-color: #e67e22;
  border: 2px solid #e67e22;
  color: white;
}

.error__button--active:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  color: white;
}

.astronaut {
  position: absolute;
  width: 185px;
  height: 300px;
  left: 70%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(20deg) scale(1.2);
}

.astronaut__head {
  background-color: white;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 60px;
  height: 60px;
  content: "";
  border-radius: 2em;
}

.astronaut__head-visor-flare1 {
  background-color: #7f8fa6;
  position: absolute;
  top: 28px;
  left: 40px;
  width: 10px;
  height: 10px;
  content: "";
  border-radius: 2em;
  opacity: 0.5;
}

.astronaut__head-visor-flare2 {
  background-color: #718093;
  position: absolute;
  top: 40px;
  left: 38px;
  width: 5px;
  height: 5px;
  content: "";
  border-radius: 2em;
  opacity: 0.3;
}

.astronaut__backpack {
  background-color: #bfbfbf;
  position: absolute;
  top: 90px;
  left: 47px;
  width: 86px;
  height: 90px;
  content: "";
  border-radius: 8px;
}

.astronaut__body {
  background-color: #e6e6e6;
  position: absolute;
  top: 115px;
  left: 55px;
  width: 70px;
  height: 80px;
  content: "";
  border-radius: 8px;
}

.astronaut__body__chest {
  background-color: #d9d9d9;
  position: absolute;
  top: 140px;
  left: 68px;
  width: 45px;
  height: 25px;
  content: "";
  border-radius: 6px;
}

.astronaut__arm-left1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 127px;
  left: 9px;
  width: 65px;
  height: 20px;
  content: "";
  border-radius: 8px;
  transform: rotate(-30deg);
}

.astronaut__arm-left2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 102px;
  left: 7px;
  width: 20px;
  height: 45px;
  content: "";
  border-radius: 8px;
  transform: rotate(-12deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
}

.astronaut__arm-right1 {
  background-color: #e6e6e6;
  position: absolute;
  top: 113px;
  left: 100px;
  width: 65px;
  height: 20px;
  content: "";
  border-radius: 8px;
  transform: rotate(-10deg);
}

.astronaut__arm-right2 {
  background-color: #e6e6e6;
  position: absolute;
  top: 78px;
  left: 141px;
  width: 20px;
  height: 45px;
  content: "";
  border-radius: 8px;
  transform: rotate(-10deg);
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
}

.astronaut__arm-thumb-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 110px;
  left: 21px;
  width: 10px;
  height: 6px;
  content: "";
  border-radius: 8em;
  transform: rotate(-35deg);
}

.astronaut__arm-thumb-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 90px;
  left: 133px;
  width: 10px;
  height: 6px;
  content: "";
  border-radius: 8em;
  transform: rotate(20deg);
}

.astronaut__wrist-left {
  background-color: #e67e22;
  position: absolute;
  top: 122px;
  left: 6.5px;
  width: 21px;
  height: 4px;
  content: "";
  border-radius: 8em;
  transform: rotate(-15deg);
}

.astronaut__wrist-right {
  background-color: #e67e22;
  position: absolute;
  top: 98px;
  left: 141px;
  width: 21px;
  height: 4px;
  content: "";
  border-radius: 8em;
  transform: rotate(-10deg);
}

.astronaut__leg-left {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 50px;
  width: 23px;
  height: 75px;
  content: "";
  transform: rotate(10deg);
}

.astronaut__leg-right {
  background-color: #e6e6e6;
  position: absolute;
  top: 188px;
  left: 108px;
  width: 23px;
  height: 75px;
  content: "";
  transform: rotate(-10deg);
}

.astronaut__foot-left {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 43px;
  width: 28px;
  height: 20px;
  content: "";
  transform: rotate(10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22;
}

.astronaut__foot-right {
  background-color: white;
  position: absolute;
  top: 240px;
  left: 111px;
  width: 28px;
  height: 20px;
  content: "";
  transform: rotate(-10deg);
  border-radius: 3px;
  border-top-left-radius: 8em;
  border-top-right-radius: 8em;
  border-bottom: 4px solid #e67e22;
}