html body {
  background-color: #1a1a1f;
  color: white;
  font-family: "Open Sans", sans-serif;
}

body.light-mode {
  background-color: #eaeaea;
  color: black;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1a1f;
  color: white;
  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

.ant-card-bordered {
  border: 0px !important;
}

.ant-card-header {
  border: 10px !important;
}

body.dark-mode .navbar {
  background-image: linear-gradient(315deg, black 0%, black 74%);
}

body.light-mode .navbar {
  background-image: linear-gradient(315deg, white 0%, white 74%);
  color: black !important;
}

body.light-mode .nav-link {
  color: white !important;
}

body.light-mode .nav-link {
  color: #777777 !important;
}

body.light-mode .active > .nav-link {
  color: black !important;
}

body.light-mode .sidenav {
  background-image: linear-gradient(315deg, white 0%, white 74%) !important;
}

body.light-mode .sidenav---sidenav-nav---3tvij {
  background-image: linear-gradient(315deg, white 0%, white 74%) !important;
}

body.light-mode .sidenav---icon-bar---u1f02 {
  background-color: black !important;
}

body.light-mode svg {
  fill: black;
}

body.light-mode .sidenav---navtext---1AE_f {
  color: black !important;
}

body.dark-mode .header {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  color: white;
}

body.light-mode .main-svg {
  background: white;
}

body.light-mode .header {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  color: black;
}

body.light-mode
  .sidenav---sidenav-nav---3tvij
  > .sidenav---sidenav-navitem---uwIJ-.sidenav---highlighted---oUx9u
  > .sidenav---navitem---9uL5T
  .sidenav---navtext---1AE_f
  > * {
  color: black !important;
}

body.dark-mode .ant-card {
  background-color: black;
}

body.light-mode .ant-card {
  background-color: white;
}

body.dark-mode .ant-card-head-title {
  color: white;
}

body.light-mode .ant-card-head-title {
  color: black;
}

body.dark-mode .ant-card-body {
  color: white;
}

body.light-mode .ant-card-body {
  color: black;
}

body.dark-mode .ant-modal-body {
  background-color: #1a1a1f;
}

body.dark-mode .ant-modal-header {
  background: #1a1a1f !important;
}

body.dark-mode .ant-modal-title {
  color: white !important;
}

body.dark-mode .ant-modal-footer {
  background: #1a1a1f !important;
}

body.light-mode .ant-modal-body {
  background-color: #eaeaea;
}

body.light-mode .ant-modal-header {
  background: #eaeaea !important;
}

body.light-mode .ant-modal-title {
  color: black !important;
}

body.light-mode .ant-modal-footer {
  background: #eaeaea !important;
}

.center {
  text-align: center;
}

.side-margin {
  margin-left: 75px;
  margin-right: 15px;
}

.ant-modal {
  width: 75% !important;
}

.add-card-container {
  margin-top: 50px;
}

.justify-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.ticker-information {
  padding-left: 20px;
  padding-bottom: 20px;
}

.ant-card-head:hover {
  cursor: move;
}

.react-autosuggest__input {
  margin-right: 10px;
  height: 35px;
}

.card-hr {
  border-color: grey;
  margin-top: -5px;
}

.ant-card-head {
  padding: 20px;
  border-bottom: 0px !important;
  margin-bottom: -20px !important;
}

.modal-header {
  color: black;
}

.modal-card {
  margin-bottom: 5%;
  height: 70%;
}

.ticker-header {
  margin-bottom: 10px !important;
}

.header-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 100px;
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 200px;
  height: 35px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  width: 200px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  color: black;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
